@media print {
    * {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
        color-adjust: exact !important;                 /*Firefox*/
    }
    .noPrint{
        display:none;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    tr:nth-child(even) {background-color: #ddd;}
    h6{
        display: inline-block;
    }
    .summary-print{
        margin-top: 5%;
        text-align: center;
        font-size: 20px;
    }
}
